<html>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">\

<div class="container-fluid" style="  background-color: #eff2fa;">
    <div class="row">
        <div class="col-md-2 col-sm-12 col-xs-12">
            <nav id="navbar">
                <h3>SIGN CONVERSION</h3>
                
              
            </nav>
        </div>
        <div class="col-md-10 col-sm-12 col-xs-12">
            <main id="main-doc">
                <section class="main-section" id="Introduction" >
                 <!--basic styling for the headings, better practice to do the same in a css file as the styling is same for all headers-->
                    <h3 style = "background: black; color: white">Introduction</h3>
                    <article>
                    <p>THE Sign language conversion system is designed so that people who are not speech-impaired,hearing-impaired can easily communicate with the people who are</p>
                        </article>
                </section>
                <section class="main-section" id="TECHNOLOGIES USED">
                    <h3 style = "background: black; color: white">OBJECTIVES</h3>
                    <article>
                        <p>
                            PROBLEM DOMAIN
                        </p>
                        <li>Most people don’t know sign language which often times creates a communication barrier. </li>
                         <li>So,The purpose of this project is to eliminate this particular barrier and make the process of communication easier. </li>
                         <li>we are going to devised a system that converts sign language into text and into speech as well. </li>
                        
                        </artice>
                </section>
                <section class="main-section" id="PROJECT_FUNCTIONING">
                    <h3 style = "background: black; color: white">PROJECT FUNCTIONING</h3>
                    <article>
                        <LI>LET US UNDERSTAND ABOUT TOPIC</LI>
                        <p>
                            It's basically convertING sign to text and to notch up iT we are than  converting it in speech as well.
                        </p>
                        <p>
                            It snap the image  and  predict the gesture of the image so whatever sign we want,it will predict and give it in a text form with it's threshold and then it convert it into speech(if want) .
                            if user want to save so it can save else it will reset and again the process repeated.
                        </p>
                    </article>
                </section>
                
                <section class="main-section" id="TECHNOLOGIES used">
                    <h3 style = "background: black; color: white">TECHNOLOGIES USED</h3>
                    <p> 
                        <li>CONVOLUTION NEURAL NETWORK</li>
                      A Convolutional Neural Network (ConvNet/CNN) is a Deep Learning algorithm which can take in an input image, assign importance (learnable weights and biases) to various aspects/objects in the image and be able to differentiate one from the other.
                    </p>
                    <LI>OpenCV</LI>
                    <P>
                        OpenCV-Python is a library of Python bindings designed to solve computer vision problems.

Python is a general purpose programming language started by Guido van Rossum that became very popular very quickly, mainly because of its simplicity and code readability. It enables the programmer to express ideas in fewer lines of code without reducing readability.
                    </P>
                    
                    <li>TensorFlow</li>
                    <p>
                        TensorFlow is an end-to-end open source platform for machine learning. It has a comprehensive, flexible ecosystem of tools, libraries and community resources that lets researchers push the state-of-the-art in ML and developers easily build and deploy ML powered applications.
                    </p>

                </section>
                
            </main>
        </div>
    </div>
</div>
</html>